.rounded {
  width: 220px;
  height: auto;
}
.logoiqro2 {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.bg{
	background-color: yellow;
}
.bg1 {
	background-color: #eaeaea;
}


.bg1 hr{

	width: 350px;
	border-top:4px solid black;
	 margin-top: 0.5em;
    margin-bottom: 0.5em;
	margin-right: -10px;

}
