.rounded {c[  ]
  width: 220px;
  height: auto;
}
.logoiqro2 {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.bg {
  background-color: yellow;
}
.bg1 {
<<<<<<< HEAD
	background-color: #eaeaea;
=======
  background-color: #eaeaea;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}
/*lupasandi*/
.card{
	margin-top: 30px;
	width: 450px;
	margin-bottom: 20px;

}

.input{
	width: 400px;
	height: 33px;
	border-radius: 5px;
	border: 1px solid;
	border-color: grey;
	padding-left: 9px;
	margin-top: 3px;
	font-size: 14px;
	margin-bottom: 10px;s
}
.label{
	margin-left: 8px;
	font-size: 15px;
}
.button{
	width: 90px;
	height: 33px;
	margin-top: 10px;
	border-radius: 33px;
	border:0px;
	background-color: #f89825;
	justify-content: left;
}


.panel-heading [data-toggle='collapse']:after {
  font-family: 'Glyphicons Halflings';
  content: '\e072'; /* "play" icon */
  float: right;
  color: #2eb5c0;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #208349;
>>>>>>> 0479dbf1d7cf6e6c021df1abe5be41007faee16c
}


.bg1 


.bg2{
	background-color: yellow;		
}
.bg3{
	background-color: red;
}
.bg4{
	background-color: blue;
}
<<<<<<< HEAD
/*Banner*/
.banner{
	margin-bottom: 10px;

}
.logobenner{
 padding-top: 5px;
 padding-left: 60px;
}
.button{
	position: relative;
	left: 95px;
	margin: 5px;
	padding: 4px;
	
}
ul{
	list-style: none;
}

/*penutupBanner*/

/*bagian Simak*/

.simak{
 padding-top: 5px;
 margin-bottom: 10px;

}

/*penutup Simak*/
=======

.fa{
  color: #50DD66;
}

.image_section{
  display: block;
}

@media (max-width:640px){
  .image_section img:first-child{
      display:none;
  }
}

.plink{
padding: 0px;
color: white;
}

.plink:hover{
  padding: 0px;
  color:#9ed8b0;
}

.plink:active {
  color: #3db161;
}

.plink img{
  padding-left: 20px;
}
.plink img:hover{
  padding-left: 20px;
  opacity: 0.6;
}
/*banner*/
.banner{
  margin-bottom: 10px;

}
.logobenner{
 padding-top: 5px;
 padding-left: 60px;
}
.button{
  position: relative;
  left: 95px;
  margin: 5px;
  padding: 4px;
  
}
ul{
  list-style: none;
}
/*penutup Banner*/

/*simak*/
.simak{
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
}
/*penutup simak*/

/*login*/
.card{
	margin-top: 30px;
	width: 450px;
	margin-bottom: 20px;

}
.btn1{
	background-color: #05916e;
	color: white;
	border-color:#3cc4e5;
	border:1px solid;
	width: 200px;
	height: 35px;
}
.btn2{
	background-color: white;
	color: #fbc68c;
	border:1px solid;
	border-color:#3cc4e5;
	width: 200px;
	height: 35px;
}
.input{
	width: 400px;
	height: 33px;
	border-radius: 5px;
	border: 1px solid;
	border-color: grey;
	padding-left: 9px;
	margin-top: 3px;
	font-size: 14px;
	margin-bottom: 10px;s
}
.label{
	margin-left: 8px;
	font-size: 15px;
}
.button{
	width: 200px;
	height: 33px;
	margin-top: 10px;
	border-radius: 33px;
	border:0px;
	background-color: #f89825;

}
.google{
	width: 200px;
	height: 32px;
	color: white;
	border-radius: 33px;
	border:0px;
	margin-bottom: 20px;
	background-color: #FF0000;
}
.facebook{
	width: 200px;
	height: 32px;
	color: white;
	border-radius: 33px;
	border:0px;
	margin-bottom: 20px;
	background-color: #3078c1;
	
}
/* video */
.tab{
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 50%;

}

.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}
.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 50%;
	border-left: none;
	height: 200px;
}

.sizing{
	box-sizing: border-box;
}
/* Pvideo */

/*daftar*/
.button2{
	width: 400px;
	height: 32px;
	margin-top: 10px;
	border-radius: 33px;
	border:0px;
	background-color: #f89825;
	margin-bottom: 30px;

}