.rounded {
  width: 220px;
  height: auto;
}
.logoiqro2 {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.bg {
  background-color: yellow;
}
.bg1 {
<<<<<<< HEAD
	background-color: #eaeaea;
=======
  background-color: #eaeaea;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle='collapse']:after {
  font-family: 'Glyphicons Halflings';
  content: '\e072'; /* "play" icon */
  float: right;
  color: #2eb5c0;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #208349;
>>>>>>> 0479dbf1d7cf6e6c021df1abe5be41007faee16c
}


.bg1 hr{

	width: 350px;
	border-top:4px solid black;
	 margin-top: 0.5em;
    margin-bottom: 0.5em;
	margin-right: -10px;

}


.bg2{
	background-color: yellow;		
}
.bg3{
	background-color: red;
}
.bg4{
	background-color: blue;
}

.fa{
  color: #50DD66;
}

.image_section{
  display: block;
}

@media (max-width:640px){
  .image_section img:first-child{
      display:none;
  }
}

.plink{
padding: 0px;
color: white;
}

.plink:hover{
  padding: 0px;
  color:#9ed8b0;
}

.plink:active {
  color: #3db161;
}

.plink img{
  padding-left: 20px;
}
.plink img:hover{
  padding-left: 20px;
  opacity: 0.6;
}
/*banner*/
.banner{
  margin-bottom: 10px;

}
.logobenner{
 padding-top: 5px;
 padding-left: 60px;
}
.button{
  position: relative;
  left: 95px;
  margin: 5px;
  padding: 4px;
  
}
ul{
  list-style: none;
}
/*penutup Banner*/

/*simak*/
.simak{
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
}
/*penutup simak*/



