.card{
	margin-top: 30px;
	width: 450px;
	margin-bottom: 20px;

}
.btn1{
	background-color: #3cc4e5;
	color: white;
	border-color:#3cc4e5;
	border:1px solid;
	width: 200px;
	height: 35px;
}
.btn2{
	background-color: white;
	color: #fbc68c;
	border:1px solid;
	border-color:#3cc4e5;
	width: 200px;
	height: 35px;
}
.input{
	width: 400px;
	height: 33px;
	border-radius: 5px;
	border: 1px solid;
	border-color: grey;
	padding-left: 9px;
	margin-top: 3px;
	font-size: 14px;
	margin-bottom: 10px;s
}
.label{
	margin-left: 8px;
	font-size: 15px;
}
.button{
	width: 400px;
	height: 33px;
	margin-top: 10px;
	border-radius: 33px;
	border:0px;
	background-color: #f89825;

}
.google{
	width: 200px;
	height: 32px;
	color: white;
	border-radius: 33px;
	border:0px;
	margin-bottom: 20px;
	
}